.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  box-shadow: 0px 10px 5px #888, 0px 2px 5px #888;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #28282b;

  .menu {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 3px;

    @media screen and (max-height: 700px) {
      min-width: 32px;
    }

    .menu-icon {
      width: 1.9rem;
      height: 1.7rem;
      opacity: 0.5;

      @media screen and (max-height: 700px) {
        width: 1.4rem;
        height: 1.3rem;
      }
    }

    .fa-menu-icon {
      width: 1.5rem;
      height: 1.7rem;
      opacity: 0.5;

      @media screen and (max-height: 700px) {
        width: 1.1rem;
        height: 1rem;
      }
    }

    .tanpura-icon {
      transform: rotate(-45deg);
    }
  }

  .selected {
    background: #444447;
    .menu-icon,
    .fa-menu-icon {
      opacity: 1;
    }
  }
}
