.himmela {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .player-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 12rem;
    min-width: 12rem;

    background: rgba(70, 70, 70, 0.1);
    border-radius: 50%;

    @media screen and (max-height: 700px) {
      min-height: 8rem;
      min-width: 8rem;
    }

    .player-placeholder {
      width: 6rem;
      height: 6rem;
      position: absolute;
      background: #28282b;
      border-radius: 50%;
    }

    @media screen and (max-height: 700px) {
      .player-placeholder {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .himmela-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .himmela-selector {
    padding: 0.8rem 0;
  }

  @media screen and (max-height: 700px) {
    .himmela-controller-container {
      .himmela-controller {
        height: 2rem;
        width: 2rem;

        .instrument-icon {
          width: 1rem;
        }
      }
    }
  }
}
