.tala-list-modal {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(41, 36, 36, 0.879);

  .tala-list-container {
    min-width: 90%;
    background: #e2e1e1;
    max-height: 36rem;
    overflow-y: scroll;

    .tala-info {
      color: #000000;
      font-weight: 600;
      border-bottom: 0.6px solid rgb(168, 165, 165);

      .tala-name {
        margin: 0;
        padding: 0.8rem;
        font-size: 1.1rem;

        .tala-count {
          font-size: 0.6rem;
          font-weight: 600;
        }
      }
    }

    .cycle-count-selector {
      color: #000000;
      font-weight: 600;
      border-bottom: 0.6px solid rgb(168, 165, 165);
      width: 100%;

      .title {
        margin: 0;
        padding: 0.8rem;
        font-size: 1.5rem;
      }

      .cycle-count-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .cycle-count-ctrl {
          font-size: 4rem;
          opacity: 0.7;
        }

        .cycle-count {
          font-size: 2.8rem;
          padding: 0 1rem;
          opacity: 0.7;
          width: 4rem;
        }
      }

      .cycle-count-modal-ctrl {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          font-size: 1.3rem;
          padding: 0.5rem 1rem;
          margin: 1rem 0.5rem;
          background: rgb(168, 165, 165);
          border-radius: 0.5rem;
        }

        .back-btn {
          background: unset;
          opacity: 0.7;
        }
      }
    }
  }
}
