.shruthi-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .shruthi-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4d4d53;
    padding: 2px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 6px;

    .shruthi-card-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  @media screen and (max-height: 700px) {
    .shruthi-card {
      height: 2rem;
      width: 2rem;

      .shruthi-card-icon {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .selected {
    background: #4d4d5370;
  }

  .shruthi-name {
    line-height: 14px;
    padding-top: 0.3rem;
    font-size: 0.6rem;
    width: 62px;
  }

  @media screen and (max-height: 700px) {
    .shruthi-name {
      font-size: 0.5rem;
    }
  }
}
