.himmela-player {
  width: 100%;
  padding-bottom: 1.2rem;

  @media screen and (max-height: 700px) {
    padding-bottom: 0.5rem;
  }

  .himmela-ctrl-btn-container,
  .avarta-list-container {
    display: flex;
    padding: 2rem 1rem;
    padding-bottom: 0;
    padding-top: unset;

    .himmela-ctrl-btn {
      flex: 1;
      display: flex;
      background: rgba(207, 198, 198, 0.73);
      align-items: center;
      justify-content: center;
      height: 2.6rem;
      font-weight: 600;
      font-size: 1rem;

      @media screen and (max-height: 700px) {
        font-size: 0.8rem;
        height: 1.6rem;
      }
    }

    .disabled {
      opacity: 0.6;
      color: #4c4848;
    }

    .add-btn {
      padding: 0 1rem;
      flex: unset;
      background: #444447;
      font-size: 1.5rem;
    }

    .add-input-box {
    }
  }

  .avarta-list-container {
    margin: 1.8rem 0;
  }

  .avarta-chits-container {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;

    .avarta-chits-list {
      border: 2px solid black;
      padding: 0.5rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-wrap: wrap;
      max-height: 4.5rem;
      overflow: scroll;

      .avarta-chips {
        background: rgba(106, 104, 104, 0.561);
        margin-left: 0.5rem;
        padding: 0rem 0.5rem;
        margin-top: 0.5rem;
        font-weight: 600;
      }
    }

    .current-playing-avarta-info {
      padding-top: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      // color: rgba(255, 255, 255, 0.682);

      // .cycle-count {
      //   color: rgb(255, 255, 255);
      // }
    }
  }

  .himmela-controller-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .himmela-controller {
      background: #444447;
      font-size: 2rem;
      border-radius: 8px;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #000;

      .instrument-icon {
        width: 2rem;
      }

      .tala-icon {
        filter: brightness(0) invert(1);
        transform: rotate(45deg);
        padding-left: 0.3rem;
      }

      .chende-icon {
        transform: rotate(-30deg);
      }
    }

    .selected {
      background: #a59f9f;
    }
  }
}
