.shruthi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .player-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 17rem;
    min-width: 17rem;

    @media screen and (max-height: 700px) {
      min-height: 10rem;
      min-width: 10rem;
    }

    .player-placeholder {
      width: 8rem;
      height: 8rem;
      position: absolute;
      background: #28282b;
      border-radius: 50%;
    }

    @media screen and (max-height: 700px) {
      .player-placeholder {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .shruthi-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .shruthi-selector {
    padding-top: 0.8rem;
  }

  .shruthi-controller-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .shruthi-controller {
      background: #444447;
      font-size: 2rem;
      border-radius: 8px;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #000;

      .instrument-icon {
        width: 2rem;
      }

      .tanpura-icon {
        transform: rotate(-45deg);
      }

      .tala-icon {
        filter: brightness(0) invert(1);
        transform: rotate(45deg);
        padding-left: 0.3rem;
      }

      .chende-icon {
        transform: rotate(-30deg);
      }
    }

    .selected {
      background: #a59f9f;
    }
  }

  @media screen and (max-height: 700px) {
    .shruthi-controller-container {
      .shruthi-controller {
        height: 2rem;
        width: 2rem;

        .instrument-icon {
          width: 1rem;
        }
      }
    }
  }
}
